
<div class="card my-3">
  <div class="menu-card-header card-header  text-white px-3"><h3><i class="far fa-clipboard">&nbsp; Posts</i></h3> </div>
    <div class="card-body">
      <ul class="nav flex-column">
          <li class="nav-item"><a href="/admin/manageposts/" class="menu-link nav-link">Manage posts</a></li>
          <li class="nav-item"><a href="/admin/manageposts/addnew" class="menu-link nav-link">Add new post</a></li>

      </ul>
    </div>
  </div>


<div class="card my-3">
  <div class="menu-card-header card-header  text-white px-3"><h3><i class="far fa-user">&nbsp; Users</i></h3> </div>
    <div class="card-body">
      <ul class="nav flex-column">
          <li class="nav-item"><a href="/admin/manageusers/index" class="menu-link nav-link">Manage users</a></li>
          <li class="nav-item"><a href="/admin/manageusers/add" class="menu-link nav-link">Add new user</a></li>

      </ul>
    </div>
  </div>


<div class="card my-3">
  <div class="menu-card-header card-header  text-white px-3"><h3><i class="far fa-folder-open">&nbsp; Categories</i></h3> </div>
    <div class="card-body">
      <ul class="nav flex-column">
          <li class="nav-item"><a href="/admin/categories/" class="menu-link nav-link">Manage categories</a></li>
          <li class="nav-item"><a href="" class="menu-link nav-link">Add category</a></li>

      </ul>
    </div>
  </div>


<div class="card my-3">
  <div class="menu-card-header header  text-white px-3"><h3><i class="far fa-comment-dots"></i>&nbsp; Comments</i></h3> </div>
    <div class="card-body">
      <ul class="nav flex-column">
          <li class="nav-item"><a href="/admin/managecomments/add" class="menu-link nav-link">Add comments</a></li>
          <li class="nav-item"><a href="/admin/managecomments/manage" class="menu-link nav-link">Manage comments</a></li>


      </ul>
    </div>
  </div>
